<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="medecin">
            <h2><span jhiTranslate="gestionCliniqueApp.medecin.detail.title">Medecin</span> {{medecin.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionCliniqueApp.medecin.nom">Nom</span></dt>
                <dd>
                    <span>{{medecin.nom}}</span>
                </dd>
                <dt><span jhiTranslate="gestionCliniqueApp.medecin.adresse">Adresse</span></dt>
                <dd>
                    <span>{{medecin.adresse}}</span>
                </dd>
                <dt><span jhiTranslate="gestionCliniqueApp.medecin.telephone">Telephone</span></dt>
                <dd>
                    <span>{{medecin.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="gestionCliniqueApp.medecin.fax">Fax</span></dt>
                <dd>
                    <span>{{medecin.fax}}</span>
                </dd>
                <dt><span jhiTranslate="gestionCliniqueApp.medecin.email">Email</span></dt>
                <dd>
                    <span>{{medecin.email}}</span>
                </dd>
                <dt><span jhiTranslate="gestionCliniqueApp.medecin.etat">Etat</span></dt>
                <dd>
                    <span jhiTranslate="{{'gestionCliniqueApp.EtatMedecin.' + medecin.etat}}">{{medecin.etat}}</span>
                </dd>
                <dt><span jhiTranslate="gestionCliniqueApp.medecin.specialite">Specialite</span></dt>
                <dd>
                    <div *ngIf="medecin.specialite">
                        <a [routerLink]="['/specialite', medecin.specialite?.id, 'view']">{{medecin.specialite?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/medecin', medecin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
