<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionCliniqueApp.specialite.home.title">Specialites</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-specialite" [routerLink]="['/specialite/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestionCliniqueApp.specialite.home.createLabel">
            Create a new Specialite
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="specialites?.length === 0">
        <span jhiTranslate="gestionCliniqueApp.specialite.home.notFound">No specialites found</span>
    </div>
    <div class="table-responsive" *ngIf="specialites?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestionCliniqueApp.specialite.nom">Nom</span></th>
            <th><span jhiTranslate="gestionCliniqueApp.specialite.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let specialite of specialites ;trackBy: trackId">
                <td><a [routerLink]="['/specialite', specialite.id, 'view' ]">{{specialite.id}}</a></td>
                <td>{{specialite.nom}}</td>
                <td>{{specialite.description}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/specialite', specialite.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/specialite', specialite.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/specialite', { outlets: { popup: specialite.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
